{% extends "base.html" %} {% block title %}signup{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

 {% block content%}
<form method="POST"> 
  <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5">انشئ حساب جديد </h3>
    
                <!-- Email input -->
                <div class="input-field">
                  <i class="fas fa-user"></i>
                  <input type="text" placeholder="الايميل" id="email" name="email" />
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text"  placeholder="الاسم الاول" id="firstName" name="firstName"/>
            </div>
  
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text"  placeholder="الاسم الاخير" id="lastName" name="lastName"/>
            </div>
    
    
                <!-- Password input -->
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="كلمة السر" id="password1" name="password1"/>
              </div>
                <!-- Password input -->
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="تأكيد كلمة السر" id="password2" name="password2"/>
              </div>
              
    
                
    
                <!-- Login button -->
                <input type="submit" value="ادخل بياناتك" class="btn solid" />
                <p class="social-text">انشئ حساب جديد باستخدام احدى هذه الطرق</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</form>
  
{% endblock %}