{% extends "base.html" %} {% block title %}Learn{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/learning.css') }}">
{% endblock %}

 {% block content%}
 {% set letters = [
    {"name": "الالف", "video": "videos/Alef.MOV", "image": "images/alef.jpg" , "id":"ا"},
    {"name": "الباء", "video": "videos/ba2.MOV", "image": "images/ba2.jpg" , "id":"ب"},
    {"name": "التاء", "video": "videos/ta22.MOV", "image": "images/ta22.jpg", "id":"ت"},
    {"name": "الثاء", "video": "videos/tha22.MOV", "image": "images/tha22.jpg", "id":"ث"},
    {"name": "الجيم", "video": "videos/jeem.MOV", "image": "images/jeem.jpg", "id":"ج"},
    {"name": "الحاء", "video": "videos/7a2.MOV", "image": "images/7a2.jpg", "id":"ح"},
    {"name": "الخاء", "video": "videos/5a2.MOV", "image": "images/5a2.jpg", "id":"خ"},
    {"name": "الدال", "video": "videos/dal.MOV", "image": "images/dal.jpg", "id":"د"},
    {"name": "الذال", "video": "videos/thal.MOV", "image": "images/thal.jpg", "id":"ذ"},
    {"name": "الراء", "video": "videos/ra2.MOV", "image": "images/ra2.jpg", "id":"ر"},
    {"name": "الزين", "video": "videos/zain.MOV", "image": "images/zain.jpg", "id":"ز"},
    {"name": "السين", "video": "videos/seen.MOV", "image": "images/seen.jpg", "id":"س"},
    {"name": "الشين", "video": "videos/sheen.MOV", "image": "images/sheen.jpg", "id":"ش"},
    {"name": "الصاد", "video": "videos/sad.MOV", "image": "images/sad.jpg", "id":"ص"},
    {"name": "الضاد", "video": "videos/daad.MOV", "image": "images/Dad.png", "id":"ض"},
    {"name": "الطاء", "video": "videos/ta2.MOV", "image": "images/tha2.jpg", "id":"ط"},
    {"name": "الظاء", "video": "videos/tha2.MOV", "image": "images/tha222.jpg", "id":"ظ"},
    {"name": "العين", "video": "videos/Ain.MOV", "image": "images/ain.jpg", "id":"ع"},
    {"name": "الغين", "video": "videos/gheen.MOV", "image": "images/ghain.jpg", "id":"غ"},
    {"name": "الفاء", "video": "videos/fa2.MOV", "image": "images/fa2.jpg", "id":"ف"},
    {"name": "القاف", "video": "videos/qaf.MOV", "image": "images/qaf.jpg", "id":"ق"},
    {"name": "الكاف", "video": "videos/kaf.MOV", "image": "images/kaf.jpg", "id":"ك"},
    {"name": "اللام", "video": "videos/laam.MOV", "image": "images/laam.jpg", "id":"ل"},
    {"name": "الميم", "video": "videos/meem.MOV", "image": "images/meem.jpg", "id":"م"},
    {"name": "النون", "video": "videos/noon.MOV", "image": "images/noon.png", "id":"ن"},
    {"name": "الهاء", "video": "videos/ha2.MOV", "image": "images/ha22.jpg", "id":"ه"},
    {"name": "الواو", "video": "videos/waw.MOV", "image": "images/waw.jpg", "id":"و"},
    {"name": "الياء", "video": "videos/ya2.MOV", "image": "images/ya2.jpg" , "id":"ي"},
    {"name": "التاء المبربوطة", "video": "videos/tahmarbota.MOV", "image": "images/ta2marbouta.jpg" , "id":"ة"},
    {"name": "لا", "video": "videos/laa.MOV", "image": "images/laa.jpg", "id":"لا"},




] %}
<div class="letter-container">
    {% for letter in letters %}
    <div class="letter-box" data-letter="{{ letter.name }}" data-video="{{ url_for('static', filename=letter.video) }}">
        <h3>حرف {{ letter.name }}</h3>
        <div class="video-overlay">
            <img src="{{ url_for('static', filename=letter.image) }}" alt="Sign for {{ letter.name }}">
            <button class="play-button">▶</button>
        </div>
        <button class="try-button">
            <a href="{{ url_for('views.practice', mode='learn', expected_letter=letter.id) }}">جرّب بنفسك</a>
        </button>
        
        
    </div>
    {% endfor %}
</div>


<!-- Partial view for the video -->
<div id="video-viewer" class="video-viewer">
    <h2 id="letter-title">حرف </h2>
    <video id="video-preview" controls></video>
    <button id="close-viewer">إغلاق</button>
</div>

<script src="{{ url_for('static', filename='js/learning.js') }}"></script>
{% endblock %}