{% extends "base.html" %} {% block title %}Learn{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/learning.css') }}">
{% endblock %}

 {% block content%}
 {% set letters = [
    {"name": "السلام عليكم", "video": "videos/aslam3alykom.mp4", "image": "images/aslam3alykom.jpeg" , "id":"السلام عليكم"},
    {"name": "كيف حالك", "video": "videos/kayfa7alok.mp4", "image": "images/kayfa7alok.jpeg" , "id":"كيف حالك"},
    {"name": "الحمدلله", "video": "videos/al7amdullah.mp4", "image": "images/al7amdullah.jpeg", "id":"الحمدلله"},
    {"name": "ما اسمك", "video": "videos/Ma2smok.mp4", "image": "images/Ma2smok.jpeg", "id":"ما اسمك"},
    {"name": "اين", "video": "videos/ayena.mp4", "image": "images/ayena.jpeg", "id":"اين"},
    {"name": "مع السلامة", "video": "videos/m3alsalama.mp4", "image": "images/m3alsalama.jpeg", "id":"مع السلامة"},
    
    
   




] %}
<div class="letter-container">
    {% for letter in letters %}
    <div class="letter-box" data-letter="{{ letter.name }}" data-video="{{ url_for('static', filename=letter.video) }}">
        <h3> {{ letter.name }}</h3>
        <div class="video-overlay">
            <img src="{{ url_for('static', filename=letter.image) }}" alt="Sign for {{ letter.name }}">
            <button class="play-button">▶</button>
        </div>
        <button class="try-button">
            <a href="{{ url_for('views.practiceWords', mode='learn', expected_letter=letter.id) }}">جرّب بنفسك</a>
        </button>
        
        
    </div>
    {% endfor %}
</div>


<!-- Partial view for the video -->
<div id="video-viewer" class="video-viewer">
    <h2 id="letter-title"> </h2>
    <video id="video-preview" controls></video>
    <button id="close-viewer">إغلاق</button>
</div>

<script src="{{ url_for('static', filename='js/learningWords.js') }}"></script>
{% endblock %}