{% extends "base.html" %} {% block title %}decision{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/WebCam.css') }}">
{% endblock %}

{% block content %}
<script>
    window.practiceMode = "{{ mode }}";
    window.expectedLetter = "{{ expected_letter }}";
</script>
<div class="container">
    <div class="webcam-box">
        <video id="webcam" autoplay playsinline></video>
    </div>
    <div class="terminal-box overflow-auto" id="terminal">
        <p>اضغط على مفتاح ابدأ لفتح الكاميرا</p>
    </div>
    <button id="start-webcam-btn" class="btn btn-primary mt-3" style="background: #FA651B;border: none;width:200px">ابدأ</button>
    <button id="stop-webcam-btn" class="btn btn-danger mt-3" style="display: none;"style="background: #FA651B;border: none;width:200px">توقف</button> 
</div>
<script src="{{ url_for('static', filename='js/WebCam2.js') }}"></script>
<!-- In WebCam.html -->

{% endblock %}